<!--
    Author: Evgenii Mishkin
    Date: 01/26/2020
    URL: http://emishkin.greenriverdev.com/328/dating/views/interests.html
    Description: Interest page.
-->

<include href="views/header.html">

<body class="newBody">

    <form method="post" action="#">

        <!-- Block with fields -->
        <div class="allElem m-5">

            <div class="container mt-5">
                <h1>Interests</h1>
                <hr>
            </div>

            <!--
            <div class="row">

                <div class="col mb-5 mt-4 ml-5">
                    <p class="font-weight-bold">In-door Interests</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="interests[]" id="tv" value="tv">
                        <label class="form-check-label mr-3" for="tv">tv</label>
                        <br>
                        <input class="form-check-input" type="checkbox" name="interests[]" id="puzzles" value="puzzles">
                        <label class="form-check-label" for="puzzles">puzzles</label>
                    </div>
                </div>

                <div class="col mb-5 mt-4 ml-5">
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="interests[]" id="movies" value="movies">
                        <label class="form-check-label mr-3" for="movies">movies</label>
                        <br>
                        <input class="form-check-input" type="checkbox" name="interests[]" id="reading" value="reading">
                        <label class="form-check-label" for="reading">reading</label>
                    </div>
                </div>

                <div class="col mb-5 mt-4 ml-5">
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="interests[]" id="cooking" value="cooking">
                        <label class="form-check-label mr-3" for="cooking">cooking</label>
                        <br>
                        <input class="form-check-input" type="checkbox" name="interests[]" id="playing cards" value="playing cards">
                        <label class="form-check-label" for="playing cards">playing cards</label>
                    </div>
                </div>

                <div class="col mb-5 mt-4 ml-5">
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="interests[]" id="board games" value="board games">
                        <label class="form-check-label mr-3" for="board games">board games</label>
                        <br>
                        <input class="form-check-input" type="checkbox" name="interests[]" id="video games" value="video games">
                        <label class="form-check-label" for="video games">video games</label>
                    </div>
                </div>
            </div>
            -->

            <div class="row">
                <div class="col mb-5 mt-4 ml-5">
                    <p class="font-weight-bold">In-door Interests</p>
                    <div class="form-check">
                        <repeat group="{{ @interests }}" value="{{ @interestsOption }}">
                            <label class="form-check-label mr-3"><input class="form-check-input" type="checkbox"
                                          name="interests[]"
                                          value="{{ @interestsOption }}"
                                <check if="{{ isset(@selectedInterests) && in_array(@interestsOption, @selectedInterests) }}">
                                    checked="checked"
                                </check>
                                >{{ @interestsOption }}
                            </label><br>
                        </repeat>
                    </div>
                    <br>
                    <check if="{{ @errors['interests'] }}">
                        <span class="alert alert-danger">{{ @errors['interests'] }}</span><br>
                    </check>
                    <br>
                </div>
            </div>

            <div class="row">
                <!-- Checkboxes div -->
                <div class="col mb-5 ml-5">
                    <p class="font-weight-bold">Out-door Interests</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="interests[]" id="hiking" value="hiking">
                        <label class="form-check-label mr-3" for="hiking">hiking</label>
                        <br>
                        <input class="form-check-input" type="checkbox" name="interests[]" id="walking" value="walking">
                        <label class="form-check-label" for="walking">walking</label>
                    </div>
                </div>

                <div class="col mb-5 ml-5">
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="interests[]" id="biking" value="biking">
                        <label class="form-check-label mr-3" for="biking">biking</label>
                        <br>
                        <input class="form-check-input" type="checkbox" name="interests[]" id="climbing" value="climbing">
                        <label class="form-check-label" for="climbing">climbing</label>
                    </div>
                </div>

                <div class="col mb-5 ml-5">
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="interests[]" id="swimming" value="swimming">
                        <label class="form-check-label mr-3" for="swimming">swimming</label>
                    </div>
                </div>

                <div class="col mb-5 ml-5">
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="interests[]" id="collecting" value="collecting">
                        <label class="form-check-label mr-3" for="collecting">collecting</label>
                    </div>
                </div>

            </div>

            <div class="col d-flex align-items-end flex-column">
                <!-- Button div -->
                <div class="text-right mb-5 mr-5 p-2">
                    <input type="submit" class="btn btn-primary position-relative" value="Next >">
                </div>
            </div>

        </div>
    </form>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
